<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="css/chat.css">
</head>

<body>
  <div class="container">
    <%- include('login.ejs') %>

    <div id="chatArea" class="row">
      <%- include('user_menu') %>

      <%- include('message.ejs') %>
    </div>
  </div>

  <script type="text/javascript" src="js/chat.js"></script>
</body>

</html>