<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <div id="loginArea" class="card">
      <div class="card-header p-3 bg-info text-white text-center">
        <h4 class="h4">ログイン</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <div class="form-floating">
            <input type="text" name="login_name" class="form-control" id="inputName">
            <label for="inputName">Name</label>
          </div>

          <div id="iconList"></div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-block btn-primary" id="login">ログイン</button>
        </div>
      </div>
    </div>
  </div>
</div>