  <div class="col-12">
    <%- include('message_form.ejs') %>
  </div>

  <div class="col-9">
    <div id="myChatList" class="list-group list-group-flush"></div>
  </div>

  <div class="col-3">
    <%- include('user_list.ejs') %>
  </div>
</div>